#login {
  width: 100%;
  height: 100%;

  background-image: url("../../public/img/patter_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  top: 0;
  left: 0;

  position: fixed;
}

.login__container {
  width: 350px;
  height: 500px;
  padding: 30px;

  background-color: white;
}

.login__perfil {
  font-size: 100px;
  text-align: center;
}

.login__titulo {
  text-align: center;
}

.login__error {
  margin: 0 0 15px 0;

  text-align: center;
  color: red;
}

.login__btn {
  margin-top: 20px;
}
