.inputSimple{
    outline: none;
    border: none;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(126, 126, 126);
    font-size: 18px;
    color: rgb(126, 126, 126);
}

.inputSimple:focus{
    border-color: black;
    color: black;
}